name: Release

permissions:
  contents: write

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    tags:
      - "v*.*.*"

jobs:
  build_app:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
    steps:
      - name: set git global safe directory
        run: |
          pacman -Syu git npm --noconfirm
          git config --global --add safe.directory $(realpath .)

      - uses: actions/checkout@v4

      - name: build AppImage
        run: |
          npm run electron-build
          chmod +x electron/dist/Crunchyroll_v*_linux.AppImage
        continue-on-error: true

      - name: show files
        run: |
          ls ./electron/dist/Crunchyroll_v*_linux.AppImage

      - name: Publish Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: crunchyroll-linux
          path: ./electron/dist/Crunchyroll_v*_linux.AppImage

  publish:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    needs: build_app
    steps:
      - run: mkdir /tmp/artifacts

      - name: download artifact
        uses: actions/download-artifact@v4
        with:
          path: /tmp/artifacts

      - run: ls -R /tmp/artifacts

      - name: publish to github release
        uses: softprops/action-gh-release@v1
        with:
          files: /tmp/artifacts/crunchyroll-linux/Crunchyroll_v*_linux.AppImage
          tag_name: ${{ github.ref_name }}
          generate_release_notes: true
          draft: true
          prerelease: contains(github.ref, 'pre')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
